@charset "UTF-8";
/*************************/
/*   ESTILOS GENERALES   */
/*************************/
/*---Paleta de colores---*/
/*---Fuentes---*/

/*Código En progreso */

* {
  margin: 0;
  padding: 0; }

#bodyProp {
  background-color: #E8EAF6;
  font-family: "Montserrat", sans-serif;
  margin-left: 50px;
  margin-right: 50px;
  height: 100vh; }

.indexHeader {
  padding: 10px 0px;
  background-color: #E8EAF6;
  height: 150px;
  text-align: center; }

.altPagesHeader {
  padding: 20px 0px;
  background-color: #E8EAF6;
  height: 150px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap; }

nav {
  padding: 5px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around; }

main {
  padding-top: 5px; }

footer {
  height: 230px;
  align-items: center;
  padding-top: 55px;
  text-align: center; }

.footer__texto {
  font-family: "Libre Barcode 39 Extended Text", cursive;
  font-size: 35px;
  text-align: center;
  color: #3F51B5;
  padding-top: 25px; }

.footer__fondo {
  background-image: radial-gradient(farthest-side, #C5CAE9, #E8EAF6); }

#footer__logo {
  width: 58px;
  height: 65px; }

/***********************/
/*   MENÚ NAVEGACIÓN   */
/***********************/
/*---Paleta de colores---*/
/*---Fuentes---*/
#logoHeader {
  width: 340px;
  height: 350px; }

li a {
  text-decoration: none;
  padding: 5px; }

ul li a {
  width: 100px;
  height: 55px;
  border-radius: 5px 5px 5px 5px;
  border: solid 1px #3F51B5;
  color: #3F51B5;
  padding: 3px;
  text-decoration: none; }

ul li a:hover {
  background: #3F51B5;
  color: #FFFFFF; }

.formatoMenuNav {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  list-style-type: none; }

.menuEnBloques {
  padding: 35px 0px 50px 0px; }
  .menuEnBloques__formato {
    width: 200px;
    height: 80px;
    padding: 5px;
    margin: 25px;
    text-decoration: none;
    font-size: 19px;
    font-weight: bold;
    color: #3F51B5;
    border: solid 1px #3F51B5;
    border-radius: 5px 5px 5px 5px; }
    .menuEnBloques__formato:hover {
      background: #3F51B5;
      color: #FFFFFF; }

section a {
  text-decoration: none; }

/*************************/
/*   ESTILOS SECCIONES   */
/*************************/
/*---Paleta de colores---*/
/*---Fuentes---*/
.bloqueHome {
  padding: 10px 0px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-content: center;
  align-items: center; }
  .bloqueHome__titulo2 {
    color: #3F51B5;
    font-family: "Ubuntu", sans-serif;
    font-size: 22px;
    padding-left: 0px; }
  .bloqueHome__img {
    width: 300px;
    height: 150px; }

.bloqueAP {
  /*Ordena el inicio de páginas ≠ incio*/
  margin-top: 25px; }
  .bloqueAP__titulo1 {
    /*estilo de h1 páginas ≠ incio*/
    color: #2196F3;
    font-family: "Ubuntu", sans-serif;
    font-size: 25px;
    text-align: center;
    padding: 10px 0px; }
  .bloqueAP__titulo2 {
    color: #C6FF00;
    background-color: #424242;
    height: 55px;
    font-size: 18px;
    padding-top: 4px;
    padding-left: 5px; }
  .bloqueAP__titulo3 {
    color: #C6FF00;
    background-color: #424242;
    height: 48px;
    font-size: 18px;
    padding-top: 12px;
    padding-left: 5px; }
  .bloqueAP__titulo4 {
    /*estilo de h2 páginas ≠ incio*/
    color: #3F51B5;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    padding-left: 0px; }

.bloquesInfoLiga {
  /*border: dashed #FF80AB 1px;*/
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  margin: 10px; }
  .bloquesInfoLiga__iframe {
    display: flex;
    flex-flow: column nowrap;
    overflow: auto;
    /*Diseño temporal hasta poder editar colores de un Iframe*/
    background-image: linear-gradient(white, lightgrey); }

.sitioCons__img {
  width: 400px;
  height: 200px;
  padding-bottom: 15px; }

.sitioCons__texto {
  color: red;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 15px;
  border: solid red 1px;
  padding-left: 0px; }

/*****************************/
/*   ESTILOS FORM CONTACTO   */
/*****************************/
/*---Paleta de colores---*/
/*---Fuentes---*/
#legendProp {
  font-size: 15px; }

input {
  width: 50%;
  margin: 5px; }

label {
  padding: 5px 5px; }

select {
  width: 50%;
  margin: 5px; }

textarea {
  width: 50%;
  margin: 5px; }

.suscripcionText {
  color: #C6FF00;
  text-align: left;
  width: 50%; }

.formContacto {
  background-color: #424242;
  color: #C6FF00;
  padding: 5px;
  display: flex;
  flex-flow: column wrap; }

/*********************/
/*   MEDIA QUERIES   */
/*********************/
/*---Paleta de colores---*/
/*---Fuentes---*/
/*---Tablet Grid---*/
@media (min-width: 577px) and (max-width: 768px) {
  ul li a {
    width: 100px;
    height: 55px;
    border-radius: 5px 5px 5px 5px;
    border: solid 1px #3F51B5;
    color: #3F51B5;
    padding: 3px;
    text-decoration: none; } }

/*---Desktop Grid---*/
@media (min-width: 769px) and (max-width: 1200px) {
  ul li a {
    width: 100px;
    height: 55px;
    border-radius: 5px 5px 5px 5px;
    border: solid 1px #3F51B5;
    color: #3F51B5;
    padding: 3px;
    text-decoration: none; }
  .bloqueHome {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-content: center;
    align-items: center; }
    .bloqueHome__titulo2 {
      color: #3F51B5;
      font-family: "Ubuntu", sans-serif;
      font-size: 22px;
      padding-left: 0px; }
    .bloqueHome__img {
      width: 375px;
      height: 175px; }
    .bloqueHome__articulo {
      margin-left: 20px; }
  .bloqueAP {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-content: center;
    align-items: center; }
    .bloqueAP__titulo1 {
      color: #2196F3;
      font-family: "Ubuntu", sans-serif;
      font-size: 35px;
      text-align: center;
      padding: 10px 0px; }
    .bloqueAP__titulo2 {
      color: #C6FF00;
      background-color: #424242;
      height: 50px;
      font-size: 25px;
      padding-top: 10px;
      padding-left: 5px; }
    .bloqueAP__titulo3 {
      color: #C6FF00;
      background-color: #424242;
      height: 50px;
      font-size: 25px;
      padding-top: 10px;
      padding-left: 5px; }
    .bloqueAP__titulo4 {
      color: #3F51B5;
      font-family: "Ubuntu", sans-serif;
      font-size: 27px;
      padding-left: 0px; }
  .textoTamañoMedio {
    font-size: 17px; }
  .sitioCons__img {
    width: 650px;
    height: 400px; }
  .sitioCons__texto {
    color: red;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 19px;
    border: solid red 1px;
    padding-left: 0px; }
  .bloquesInfoLiga {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: center;
    align-items: center; }
  .ajustarVideo {
    width: 425px;
    height: 375px; } }

@media (min-width: 1201px) {
  ul li a {
    width: 100px;
    height: 55px;
    border-radius: 5px 5px 5px 5px;
    border: solid 1px #3F51B5;
    color: #3F51B5;
    margin: 20px;
    padding: 3px;
    text-decoration: none; }
  .bloqueHome {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-content: center;
    align-items: center; }
    .bloqueHome__titulo2 {
      color: #3F51B5;
      font-family: "Ubuntu", sans-serif;
      font-size: 32px;
      padding-left: 0px; }
    .bloqueHome__img {
      width: 675px;
      height: 400px; }
    .bloqueHome__articulo {
      margin-left: 20px; }
  .bloqueAP {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-content: center;
    align-items: center; }
    .bloqueAP__titulo1 {
      color: #2196F3;
      font-family: "Ubuntu", sans-serif;
      font-size: 35px;
      text-align: center;
      padding: 10px 0px; }
    .bloqueAP__titulo2 {
      color: #C6FF00;
      background-color: #424242;
      height: 50px;
      font-size: 25px;
      padding-top: 10px;
      padding-left: 5px; }
    .bloqueAP__titulo3 {
      color: #C6FF00;
      background-color: #424242;
      height: 50px;
      font-size: 25px;
      padding-top: 10px;
      padding-left: 5px; }
    .bloqueAP__titulo4 {
      color: #3F51B5;
      font-family: "Ubuntu", sans-serif;
      font-size: 27px;
      padding-left: 0px; }
  .textoTamañoMedio {
    font-size: 22px; }
  .sitioCons__img {
    width: 650px;
    height: 400px; }
  .sitioCons__texto {
    color: red;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 19px;
    border: solid red 1px;
    padding-left: 0px; }
  .bloquesInfoLiga {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: center;
    align-items: center; }
  div iframe {
    width: 650px;
    height: 500px; } }

/*---Paleta de colores---*/
/*---Fuentes---*/
/*********************/
/*   ESTILOS TEXTO   */
/*********************/
p {
  color: #3F51B5; }

.textoTamañoMedio {
  font-size: 17px; }

.textoCentrado {
  text-align: center; }

.textoIzquierda {
  text-align: left; }

.textoInterlineado {
  line-height: 1.5; }

.textoJustificado {
  text-align: justify; }

.negrita {
  font-weight: bold; }

.cursiva {
  font-style: italic; }

.textoEspaciado {
  letter-spacing: 1px; }

.linksFooter {
  color: #3F51B5; }
  .linksFooter:hover {
    color: #3F51B5; }

p span a {
  text-decoration: none;
  color: #3F51B5; }

p span a:hover {
  text-decoration: none;
  border-radius: 5px 5px 5px 5px;
  background: #3F51B5;
  color: #FFFFFF; }

/**********************/
/*   ESTILOS TABLAS   */
/**********************/
#thProp {
  background-color: #90CAF9;
  border: 1px solid;
  padding: 0px 5px; }

#ulSinEstilo {
  list-style-type: none; }

/******************************/
/*   TRANSF, ANIM. Y TRANS.   */
/******************************/
header a img:hover {
  transform: scale(1.1, 1.1);
  transition: 400ms ease; }
